html,
body {
  width: 700px;
  height: 600px;
  margin: 0;
  padding: 0;
  overflow-y: auto; 
  position: relative; 
  font-family: Arial, sans-serif; /* Improved font */
  /* position: fixed; */
}


